/* == sticky header stuff ==================== */
#site-navigation.stuck {
	background-color:rgba(255,255,255,.90);
    position: fixed;
    top: 0;
	left: 0;
	margin:0;
    z-index: 99;
    max-width: 100%;
	width:100%;
	.menu-menu-1-container {
		max-width:75%;
		margin:0 auto;
	}
}
.admin-bar #site-navigation.stuck {
	margin-top:32px;
}

#masthead button.menu-toggle {
	width:50%;
	margin:1rem auto 1rem auto;
	font-size: rem(14);
}
@media screen and (min-width:1200px) {
	.inner-wrap {
		@include outer-container(85%);
	}
}
@media screen and (min-width:1600px) {
	.inner-wrap {
		@include outer-container(75%);
	}
}

// desktop styles pls
@media screen and (min-width:768px) {
	/* == dat grid ==================== */
	.site,.grid-wrap { 
		@include outer-container(100%);
	}
	.left-half { @include span-columns(6); }
	.right-half { @include span-columns(6); }
	.site-content .site-main {
		@include span-columns(9);
		padding-right:3em;
	}
	.site-content .full-width .site-main {
		@include span-columns(12);
		padding:0;
	}
	.site-content .widget-area {
		@include span-columns(3);	
	}
	.site-content .right-half { 
		@include span-columns(3);
	}
	.site-footer .left-half { @include span-columns(8); }
	.site-footer .right-half {
		@include span-columns(4);		
	}

	body {
		font-size:16px;
	}
	
	/* == header ==================== */
	.admin-bar #masthead.stuck { margin-top:32px; }	
}